<% if display_flag == true %>
  <h2>検索結果</h2>
  <table border="1" cellpadding="5">
    <thead>
      <tr>
        <th width=800>投稿数</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= post_count %></td>
      </tr>
    </tbody>
  </table>
<% end %>